@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme {
  /* Base Colors */
  --black: #000000;
  --white: #ffffff;
  --muted-blue: #6c8ea3;
  --pitch-dark-blue: #202a30;
  --sky-blue: #bee8ff;
  --deep-blue: #438db5;

  /* Muted Text Colors */
  --muted-text: #999999;
  --muted-text-2: #cccccc;
  --muted-text-3: #595959;
  --muted-text-4: #333333;
  --muted-text-5: #b3b3b3;
  --muted-text-6: #a6a6a6;
  --muted-text-7: #1a1a1a;
  --muted-text-8: #808080;
  /* size */
  --size-xld: 1100px;
  /* Break Points */
  --breakpoint-3xl: 160rem;
  --breakpoint-4xl: 200rem;
  --breakpoint-5xl: 480rem;

  /* Font */
  --font-General-Sans: "General Sans", sans-serif;

  /* Mapped Colors */
  --color-black: var(--black);
  --color-white: var(--white);
  --color-muted-blue: var(--muted-blue);
  --color-pitch-dark-blue: var(--pitch-dark-blue);
  --color-sky-blue: var(--sky-blue);
  --color-deep-blue: var(--deep-blue);

  /* Mapped Muted Colors */
  --color-muted: var(--muted-text);
  --color-muted-2: var(--muted-text-2);
  --color-muted-3: var(--muted-text-3);
  --color-muted-4: var(--muted-text-4);
  --color-muted-5: var(--muted-text-5);
  --color-muted-6: var(--muted-text-6);
  --color-muted-7: var(--muted-text-7);
  --color-muted-8: var(--muted-text-8);
}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.contained {
  @apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg 2xl:max-w-screen-xl 3xl:max-w-screen-2xl mx-auto w-full p-4;
}

/* font sizes */
.con-text-xs {
  @apply text-xs 3xl:text-base tracking-wider;
}

.con-text-sm {
  @apply text-sm 3xl:text-lg tracking-wider;
}

.con-text-md {
  @apply text-base xl:text-lg 3xl:text-2xl tracking-wider;
}

.con-text-lg {
  @apply text-lg xl:text-xl 3xl:text-3xl tracking-wider;
}
.con-text-lgx {
  @apply text-xl xl:text-2xl 3xl:text-3xl tracking-wider;
}

.con-text-xl {
  @apply text-2xl lg:text-3xl xl:text-4xl tracking-wider;
}

.con-text-2xl {
  @apply text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl tracking-wider;
}
